* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rain-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #202020;
  z-index: -1;
  transition: filter 300ms;
}

.btn-theme {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  transition: filter 300ms;
}

.btn-theme:hover {
  text-shadow: unset;
}

.btn-theme i {
  color: #202020;
  font-size: 2em;
}

.invert {
  filter: invert(1);
}


/* @media (max-width: 400px) {
  .btn-theme {
    bottom: 5px;
    right: 5px;
  }
} */